input {
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid var(--black);
    width: 50%;
    text-align: center;
}

#generate {
    width: 25%;
}

#answer {
    text-indent: 0;
    padding: 10px;
}

@media screen and (min-width: 700px) {
    input {
        width: 20%;
    }
    #generate {
        width: 10%;
    }
}