input {
    font-size: 12pt;
    margin: 15px;
    width: 50%;
    padding: 5px;
    text-align: center;
}

#userInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    width: 50%;
}

#result {
    padding: 15px;
}

#result>p {
    text-align: center;
    text-indent: 0;
}