.personal-photo {
    width: 80%;
    border-radius: 50%;
    margin: 10px;
}

figcaption {
    margin: 10px;
    text-align: center;
    color: var(--white);
}

.outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    width: auto;
    padding: 10px;
    margin: 10px;
    background-color: var(--dark-theme-3);
}

h3 {
    margin: 10px;
}

.app-logo {
    width: 100px;
}

h4 {
    margin: 10px;
}

.social-container {
    margin: 0px 50px;
}

.social-img {
    height: 24px;
    margin: 10px;
}

.light-mode-button-app-container {
    background-color: var(--light-theme-1);
}

@media screen and (max-width: 700px) {
    .container {
        flex-direction: column;
    }
    .sidebar {
        border-right: none;
        border-top: none;
        border-bottom: solid 1px var(--grey);
    }
}