:root {
    --light-grey: #D9D9D9;
    --grey: #808080;
    --dark-grey: #262626;
    --darker-blue: #004080;
    --dark-blue: #0066CC;
    --main-blue: #0080FF;
    --light-blue: #4DA6FF;
    --green: #3DFF0D;
    --red: #FF2819;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-flow: column;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-blue);
}

h1, h2, h3, h4 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: var(--light-grey);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 1 auto;
    background-color: var(--darker-blue);
    padding: 10px;
}

.logo {
    height: 75%;
}

section {
    flex: 1 1 auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.sidebar {
    flex: 30%;
    padding: 10px;
    background-color: var(--dark-blue);
}

.personal-photo {
    width: 100%;
}

figcaption {
    margin: 5px;
    text-align: center;
    color: var(--light-grey);
}

.main {
    display: flex;
    flex-direction: column;
    flex: 70%;
    padding: 20px;
    background-color: var(--darker-blue);
}

.outer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: var(--dark-grey);
    width: auto;
    padding: 10px;
    margin: 10px;
}

h3 {
    color: var(--grey);
    margin: 10px;
}

a {
    text-decoration: none;
    text-align: center;
}

a:visited {
    text-decoration: none;
}

.app-logo {
    width: 100px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex: 0 1 50px;
    padding: 10px;
    background-color: var(--dark-blue);
}

h4 {
    margin: 10px;
}

.social-container {
    margin-left: 50px;
}

.social-img {
    height: 24px;
    margin: 10px;
}

@media screen and (max-width: 700px) {
    .container {
        flex-direction: column;
    }
    .social-container {
        margin-left: 0px;
    }
    footer {
        flex-direction: column;
    }
}