body {
    text-align: center;
}

.stage {
    margin: 10px;
}

.square {
    width: 100px;
    height: 100px;
    background-color: var(--light-grey);
    border: 1px solid var(--grey);
    display: inline-block;
}

.o, .x {
    position: relative;
}

.o:after {
    position: absolute;
    content: "️\1F6E1";
    font-size: 50px;
    line-height: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.x:after {
    position: absolute;
    content: "️\2694";
    font-size: 50px;
    line-height: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.button {
    font: 12pt;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--black);
}